version: '2'

services:
  base:
    build: ./base
    image: crow_base:1.0.0
    container_name: crow_base
    command: echo "Data-only container"
    network_mode: "none"
  app:
    build: ../app
    image: crow_app:1.0.0
    container_name: crow_app
    depends_on:
      - base
    command: [sh, -c, /root/www/app/bin/main]
    #volumes:
    #  - "../app:/root/www/lantosistvan:rw"
    networks:
      crow_back:
        ipv4_address: 172.16.238.11
        ipv6_address: 2001:3984:3989::11
  nginx:
    build: ./nginx
    image: crow_nginx:1.0.0
    container_name: crow_nginx
    depends_on:
      - app
    command: [sh, -c, /usr/sbin/nginx]
    ports:
      #- "0.0.0.0:80:80"
      - "80:80"
      - "443:443"
    volumes:
      - /var/cache/nginx
      - ./nginx/etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/etc/nginx/conf.d:/etc/nginx/conf.d:ro
      - ../app/public:/var/www/html/public:ro
      - ../app/public/ftp:/var/www/html/ftp:ro
    ####extra_hosts:
     #- "localhost.cinematicheart.com:172.16.238.10"
     ####- "localhost.cinematicheart.com:127.0.0.1"
    networks:
      crow_back:
        ipv4_address: 172.16.238.10
        ipv6_address: 2001:3984:3989::10
      crow_front:
        ipv4_address: 173.16.238.10
        ipv6_address: 2002:3984:3989::10

networks:
  crow_back:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "true"
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1
          #aux_addresses:
          #  localhost.cinematicheart.com: 172.16.238.10
        - subnet: 2001:3984:3989::/64
          gateway: 2001:3984:3989::1
        #- subnet: 172.28.0.0/16
        #  ip_range: 172.28.5.0/24
        #  gateway: 172.28.5.254
        #  aux_addresses:
        #    host1: 172.28.1.5
        #    host2: 172.28.1.6
        #    host3: 172.28.1.7
  crow_front:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "true"
    ipam:
      driver: default
      config:
        - subnet: 173.16.238.0/24
          gateway: 173.16.238.1
          #aux_addresses:
          #  localhost.cinematicheart.com: 172.16.238.10
        - subnet: 2002:3984:3989::/64
          gateway: 2002:3984:3989::1
        #- subnet: 172.28.0.0/16
        #  ip_range: 172.28.5.0/24
        #  gateway: 172.28.5.254
        #  aux_addresses:
        #    host1: 172.28.1.5
        #    host2: 172.28.1.6
        #    host3: 172.28.1.7
